
/* *** TODO: Put your CSS styles here to make the web application look nice *** */
/* With help from http://getbootstrap.com/examples/blog/ */

body {
    padding-bottom: 222px;
  }
  
  @media (min-width: 960px) {
    .container {
      width: 660px;
    }
  }
  .fa-home
  {
  font-size:95px;
  color:#A04000;
  
  }
  .blog-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .blog-title {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 65px;
    font-weight: normal;
  }
  
  .blog-description {
    font-size: 25px;
    color: #641E16 ;
  }
  
  .blog-main {
    font-size: 25px;
    line-height: 3.0;
  }
  
  .blog-post {
    margin-bottom: 71px;
  }
  
  .blog-post-title {
    margin-bottom: 4px;
    font-size: 52px;
  }
  
  .blog-post-meta {
    margin-bottom: 22px;
    color: #D35400 ;
  }
  
  .blog-load-more {
    width: 100%;
    margin-bottom: 22px;
  }
  
  .heading {
    font-weight: bold;
    color: #F1C40F;
     vertical-align: top;
  }
  
   /* unvisited link */
  a:link {
      color: #283747;
  }
  
  /* visited link */
  a:visited {
      color: #8E44AD ;
  }
  
  /* mouse over link */
  a:hover {
      color: #2471A3;
  }
  
  /* selected link */
  a:active {
      color: #212F3C ;
  }